@model AddStoryVM
@{
    @*int missionIndex = 0;
    int size = Model.UserMission.MissionId.Count();
    var missionIds = Model.UserMission.MissionId;
    var missionTitles = Model.UserMission.MissionTitle;*@
    
    var userMissionList = ViewBag.UserMissionList;
}
<main>
    <header>
        <partial name="_Navbar"></partial>
        <hr class="m-0" />
    </header>
    <section class="container my-4">
        <h1 class="font-40 text-black-1 text-light-custom">
            Share Your Story
        </h1>

        <div class="mt-4">
            <form method="POST" asp-action="AddStory" class="story-form d-flex flex-column gap-4" enctype="multipart/form-data" id="story-form">
                <div class="row g-4">
                    <div class="form-group col-12 col-md-6">
                        <label asp-for="@Model.MissionID"></label>
                        <select class="form-select" asp-for = "@Model.MissionID" asp-items="@(new SelectList(@ViewBag.userMissionList,"MissionId", "Title"))">
                        <option value="" selected disabled>Select Mission</option>
                        </select>
                        <span asp-validation-for="@Model.MissionID" class="font-15 text-danger"></span>
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label asp-for="@Model.Title"></label>
                        <input class="form-control" id="StoryTitle" asp-for="@Model.Title" placeholder="Enter story title">
                        <span asp-validation-for="@Model.Title" class="text-danger font-15"></span>
                    </div>
                </div>
                <!-- Text Editor -->
                <div class="form-group">
                    <label asp-for="@Model.Description"></label>
                    <textarea id="story-description" asp-for="@Model.Description"></textarea>
                    <span asp-validation-for="@Model.Title" class="text-danger font-15" id="err-story-desc"></span>
                </div>
                <!-- Text Editor Fin -->

                <div class="form-group">
                    <label asp-for="@Model.VideoUrl"></label>
                    <input type="text" class="form-control" asp-for="@Model.VideoUrl">
                    <span asp-validation-for="@Model.VideoUrl" class="text-danger font-15"></span>
                </div>

                <div class="form-group">
                    <label class="text-light-custom">Upload Your Photos</label>

                    <div class="form-control-file d-flex justify-content-center align-items-center p-4 cursor-pointer" id="upload-area">
                        <img src="~/assets/drag-and-drop.png" alt="Drag and drop" for="file-upload">
                        <input type="file" multiple id="file-upload" onchange="handleFiles(this.files)" accept=".png, .jpg, .jpeg" hidden>
                    </div>



                    <!-- Uploaded files  -->
                    <div class="mt-2 uploaded-files">
                        <ul class="list-unstyled d-flex flex-wrap gap-4 gap-md-4 justify-content-md-start" id="file-list">
                         
                        </ul>
                    </div>
                    <!-- Uploaded Files Fin -->
                </div>

                <div class="d-flex justify-content-between">
                    <button class="btn-g-gray">
                        Cancel
                    </button>
                    <div class="d-flex gap-2">
                        <button class="btn-g-orange">
                            Save
                        </button>
                        <button class="btn-g-orange" type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <partial name="_Footer"></partial>
</main>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
    <script src="~/js/rich-editor-tiny.js"></script>
    <script src="~/js/share-story.js"></script>
    <script src="~/js/site.js"></script>
}