@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<ShareStoryVM>
@{

    ViewData["Title"] = "Stories | CI Platform";
    var userId = 0L;
    var addStoryPageUrl = string.Empty;
    if (Context.Session.GetString("UserId") != null)
    {
        userId = Convert.ToInt64(Context.Session.GetString("UserId")!);
        addStoryPageUrl = Url.Action("AddStory", "Story", new { userId = userId });
    }
    var totalStoryCount = Model.LongCount();
    var index = 0;

    var storySubmitRequest = TempData["story-submit"];

    var missionError = TempData["MissionError"];
    TempData.Remove("MissionError");
}
<input type="hidden" id="add-story-page-url" value="@addStoryPageUrl" />
@Html.HiddenFor(model => totalStoryCount, new { id = "total-story-count" })
@Html.HiddenFor(model => missionError, new { id = "mission-error" })
@Html.HiddenFor(model => storySubmitRequest, new { id = "story-submit-request" })
<main class="index-grid">
    <header>
        <partial name="_Navbar"></partial>
        <hr class="m-0" />
        <!-- Story Hero -->
        <section class="bg-hero-story mt-4 mt-md-0 d-flex flex-column text-center align-items-center justify-content-center flex-nowrap">
            <p class="text-white story-hero-text d-none d-md-block mx-5">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa sed architecto, amet odio doloremque voluptatum
                consectetur natus quos ipsam! Recusandae illo accusamus minus vitae nemo?
            </p>
            <a id="btn-share-story">
                <button class="btn-g-white mt-4 mx-content mx-auto font-md">
                Share Your Story
                <img src="~/assets/right-arrow2.png" alt="Right Arrow">
                </button>
            </a>
        </section>
        <!-- Story Hero Fin  -->
    </header>

    <!-- Story Listing Section -->
    <section class="container my-4">
        @if ( Model.Any() )
        {
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 g-xl-4">
                @foreach (var story in Model)
                {
                        <div class="col" data-storynumber="@index">
                            <article class="card h-100 shadow-sm flex-nowrap">
                                <div class="position-relative story-img-card">
                                    <img src="@story.StoryThumbnail" alt="Story Thumbnail" class="w-100 story-card-img object-fit-cover">
                                    <a asp-controller="Story" asp-action="Story" asp-route-id="@story.StoryId" class="btn-g-white d-block position-absolute btn-story-center d-none">
                                        View Details
                                        <img src="~/assets/arrow-8-24.png" alt="Right Arrow">
                                    </a>
                                    <div class="position-relative mx-content mx-auto theme-list-title translate-middle-y px-4 p-2 text-light-custom text-black-1">
                                        @story.ThemeName
                                    </div>
                                </div>
                                <div class="d-flex flex-column mt-n1 pb-4">
                                    <h3 class="mt-0 px-4">
                                        @story.StoryTitle
                                    </h3>
                                    <p class="mission-desc-ellips px-4">
                                        @story.ShortDescription
                                    </p>
                                </div>
                                <div class="px-4 mt-auto mb-4">
                                    <img src="@story.UserAvatar" alt="Volunteer Image" class="rounded-pill comment-usr-img me-2">
                                    @story.UserName
                                </div>
                                <button class="btn-g-orange mx-auto mt-auto mb-4 btn-story-details">
                                    View Details
                                    <img src="~/assets/right-arrow.png" alt="Right Arrow">
                                </button>
                            </article>
                        </div>
                    index++;
                }
            </div>
        }
        else
        {
            <section class="border py-4 mt-4 container text-center font-lg-size text-light-custom fw-400">
            No Story Found
            </section>
        }
    </section>
    <!-- Story Listing Fin -->
</main>

<!-- Pagination Begin  -->
<section class="container my-2 my-md-5 d-flex justify-content-center gap-2 text-light-custom c-pagination-item" id="pagination-container">
    
</section>
<!-- Pagination End  -->
<partial name = "_Footer"></partial>

@section Scripts{
    <script src="~/js/site.js"></script>
    <script src="~/js/story-listing.js"></script>
}

