@model IEnumerable<CommentAdminVM>

<div class="border-bottom mb-2">
    <div class="border-bottom-1 mx-content pb-2 font-30">
        Mission Comments
    </div>
</div>

<div class="mt-4 d-flex justify-content-between">
    <div class="border mx-content py-1 px-3 d-flex align-items-center" id="admin-search-container">
        <img src="~/assets/search.png" alt="Search Here" height="20px" width="20px">
        <input type="text" name="Search" id="comment-search" placeholder="Search here" class="border-0 ms-2 form-control timesheet-search">
        <div class="spinner-border opacity-0 spinner-control" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div class="mt-4 table-responsive admin-table">
    @if (!Model.Any())
    {
        <p class="text-info-message p-2 mx-content mx-auto">There are no contact queries available at the moment!</p>
    }
    else
    {
        <table class="table border">
            <thead class="">
                <tr class="border">
                    <th class="font-22 fw-400">User Name</th>
                    <th>Mission</th>
                    <th>Comment Date</th>
                    <th>Approval Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var comment in Model)
                {
                    <tr>
                        <td>
                            @comment.UserName
                        </td>
                        <td>
                            @comment.MissionTitle
                        </td>
                        <td>
                            @comment.CommentDate.ToString("d")
                        </td>
                        <td class="@comment.ApprovalStatus">
                            @Html.DisplayFor(_ => comment.ApprovalStatus)
                        </td>
                        <td>
                            <div class="d-flex gap-3 justify-content-center justify-content-xl-start flex-wrap">
                                <button class="cursor-pointer btn-comment-view font-13 bg-transparent px-2 text-center" data-commentid="@comment.CommentId">View</button>
                                @if (comment.ApprovalStatus == ApprovalStatus.PENDING)
                                {
                                    <img class="cursor-pointer comment-approve" data-commentid="@comment.CommentId" src="~/assets/check-mark.svg" height="19px" width="18px" alt="Approve">
                                    <img class="cursor-pointer comment-decline" data-commentid="@comment.CommentId" src="~/assets/x-circle.svg" height="19px" width="18px" alt="Decline">
                                }
                                <img class="cursor-pointer comment-delete" data-commentid="@comment.CommentId" src="~/assets/delete.png" alt="Delete">

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<div class="pagination c-pagination-item mt-2 d-flex justify-content-center justify-content-md-end gap-2" id="pagination-container">
</div>