@model NotificationContainerVM
@{
    var msgCount = Model.NewNotifications.Count() + Model.OldNotifications.Count();
}
@Html.HiddenFor(model => model.UnreadCount, new { id = "notification-count" })
@Html.HiddenFor(_ => msgCount, new { id = "msg-count" })
<!-- Notification Listing Begin  -->
<div class="notification-body border d-none overflow-auto" id="notification-listing">
    <div class="d-flex justify-content-between align-items-center p-2 border-bottom">
        <img src="~/assets/gear-fill.svg" alt="Setting" id="notis-setting" class="cursor-pointer">
        <p class="mb-0 font-15">Notifications</p>
        <p class="mb-0 cursor-pointer" id="clear-all-notis">Clear All</p>
    </div>
    <div class="notis-listing">
        @if (Model.NewNotifications.Any() || Model.OldNotifications.Any())
        {
            <div>
                @if(!Model.NewNotifications.Any())
                {
                    <div class="border-bottom text-center py-3">No new notifications for now.</div>
                }
                @foreach (var notifs in Model.NewNotifications)
                {
                    <div class="d-flex align-items-center p-3 gap-2 border-bottom">
                        @if (notifs.NotificationType == NotificationTypeEnum.NEW)
                        {
                            <img src="~/assets/add.png" alt="Add">
                        }
                        else if (notifs.NotificationType == NotificationTypeEnum.RECOMMEND)
                        {
                            <img src="@notifs.FromUserAvatar" alt="volunteer" height="35px" width="30px"
                     class="object-fit-cover rounded-circle">
                        }
                        else if (notifs.NotificationType == NotificationTypeEnum.APPROVE)
                        {
                            <img src="~/assets/approve-check.svg" alt="Approved" class="align-self-start">
                        }
                        else
                        {
                            <img src="~/assets/decline-req.svg" alt="Decline" class="align-self-start">
                        }
                        <p class="mb-0">@Html.Raw(@notifs.Message)</p>
                        @if (notifs.IsRead)
                        {
                            <img src="~/assets/read.svg" class="ms-auto" alt="Read" height="10px" width="10px">
                        }
                        else
                        {
                            <div class="dot-orange rounded-circle ms-auto flex-shrink-0" data-notifsid="@notifs.Id"></div>
                        }
                    </div>
                }


            </div>
            <!-- Older notification start  -->
            @if (Model.OldNotifications.Any())
            {
                <div class="bg-light text-center py-1 fw-light text-black-1 border-bottom">Older</div>
                <div>
                    @foreach (var notifs in Model.OldNotifications)
                    {
                        <div class="d-flex align-items-center p-3 gap-2 border-bottom">
                            @if (notifs.NotificationType == NotificationTypeEnum.NEW)
                            {
                                <img src="~/assets/add.png" alt="Add">
                            }
                            else if (notifs.NotificationType == NotificationTypeEnum.RECOMMEND)
                            {
                                <img src="@notifs.FromUserAvatar" alt="volunteer" height="35px" width="30px"
                                                    class="object-fit-cover rounded-circle">
                            }
                            else if (notifs.NotificationType == NotificationTypeEnum.APPROVE)
                            {
                                <img src="~/assets/approve-check.svg" alt="Approved" class="align-self-start">
                            }
                            else
                            {
                                <img src="~/assets/decline-req.svg" alt="Decline" class="align-self-start">
                            }                        
                            <p class="mb-0">@Html.Raw(@notifs.Message)</p>

                            @if (notifs.IsRead)
                            {
                                <img src="~/assets/read.svg" class="ms-auto" alt="Read" height="10px" width="10px">
                            }
                            else
                            {
                                <div class="dot-orange rounded-circle ms-auto flex-shrink-0" data-notifsid="@notifs.Id"></div>
                            }
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <div class="bg-light text-center py-1 fw-light text-black-1">
                Woohoo.. No notifications for now!
            </div>
        }
    </div>
    <!-- Older notification end  -->
</div>
<!-- Notification listing end  -->
<!-- Notification Settings Begin -->
<div class="notification-body border d-none overflow-auto" id="notification-settings">
    <div class="text-center py-2 border-bottom fw-400">Notificaiton Settings</div>
    <div class="p-2 px-3 bg-light border-bottom fw-400">Get a notification for</div>
    <partial name="_NotificationSettings" model="@Model.NotificationSetting"></partial>
</div>
<!-- Notification Settings End -->
