@model TimeMissionVM
<div class="mt-4 border">
    <h4 class="px-4 mb-0 py-3 bg-tile fw-400">Add Mission</h4>

    <div class="px-4 mt-2 pb-4">
        <form id="form-add-msn-time" class="admin-form d-flex flex-column gap-3" enctype="multipart/form-data">
            <div>
                <label asp-for="Title" class="form-label"></label>
                <input class="form-control" asp-for="Title">
                <span class="text-danger font-xs" asp-validation-for="Title"></span>
            </div>
            <div>
                <label asp-for="ShortDescription" class="form-label"></label>
                <input class="form-control" asp-for="ShortDescription">
                <span class="text-danger font-xs" asp-validation-for="ShortDescription"></span>
            </div>
            <div>
                <label asp-for="Description" class="form-label"></label>
                <textarea id="description" asp-for="Description"></textarea>
                <span class="text-danger font-xs" id="err-desc"></span>
            </div>
            <div>
                <label asp-for="OrganizationName" class="form-label"></label>
                <input class="form-control" asp-for="OrganizationName">
                <span class="text-danger font-xs" asp-validation-for="OrganizationName"></span>
            </div>
            <div>
                <label asp-for="OrganizationDetail" class="form-label"></label>
                <textarea id="description1" asp-for="OrganizationDetail"></textarea>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <label asp-for="StartDate" class="form-label"></label>
                    <input type="date" class="form-control" asp-for="StartDate" id="start-date">
                    <span class="text-danger font-xs" asp-validation-for="StartDate" id="err-start"></span>

                </div>
                <div class="col-md-6">
                    <label asp-for="EndDate" class="form-label"></label>
                    <input type="date" class="form-control" asp-for="EndDate" id = "end-date">
                    <span class="text-danger font-xs" asp-validation-for="EndDate" id="err-end"></span>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <label asp-for="TotalSeats" class="form-label"></label>
                    <input type="number" class="form-control" asp-for="TotalSeats">
                    <span class="text-danger font-xs" asp-validation-for="TotalSeats"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="RegistrationDeadline" class="form-label"></label>
                    <input type="date" class="form-control" asp-for="RegistrationDeadline" id="reg-date">
                    <span id="err-reg" class="text-danger font-xs"></span>
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-6">
                    <label asp-for="CityId" class="form-label"></label>
                    <select class="form-select cursor-pointer" asp-for="CityId" id="city-menu">
                        <option value="" selected disabled>Select City</option>
                        @foreach (var city in Model.CityList)
                        {
                            <option value="@city.CityId" data-countryid="@city.CountryId">@city.Name</option>
                        }
                    </select>
                    <span class="text-danger font-xs" asp-validation-for="CityId"></span>

                </div>
                <div class="col-md-6">
                    <label asp-for="CountryId" class="form-label"></label>
                    <select class="form-select cursor-pointer" asp-for="CountryId" id="country-menu">

                        <option value="" disabled selected>Select Country</option>
                        @foreach (var country in Model.CountryList)
                        {
                            <option value="@country.CountryId">@country.Name</option>
                        }
                    </select>
                    <span class="text-danger font-xs" asp-validation-for="CountryId"></span>
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-6">
                    <label asp-for="ThemeId" class="form-label"></label>
                    <select class="form-select" asp-for="ThemeId">
                        <option value="" disabled selected>Select Theme</option>
                        @foreach (var theme in Model.ThemeList)
                        {
                            <option value="@theme.ThemeId">@theme.Title</option>
                        }
                    </select>
                    <span class="font-xs text-danger" asp-validation-for="ThemeId"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Skills" class="form-label"></label>
                    <select asp-for="Skills" multiple class="form-select multi-select" asp-items="@Model.SkillList.Select(s => new SelectListItem { Value = s.SkillId.ToString(), Text = s.Name })">
                        <option value="" disabled selected>Select Skills</option>
                    </select>
                    <span class="font-xs text-danger" asp-validation-for="Skills"></span>
                </div>
            </div>

            <div>
                <label class="form-label">Upload Mission Photos</label>

                <div class="form-control-file d-flex justify-content-center align-items-center p-4 cursor-pointer"
                     id="upload-area">
                    <img src="./assets/drag-and-drop.png" alt="Drag and drop" for="file-upload" />
                    <input type="file" multiple id="file-upload" onchange="handleFiles(this.files)"
                           accept=".png, .jpg, .jpeg" asp-for="Images" hidden />
                </div>
                <span class="text-danger font-xs" id="err-media" asp-validation-for="Images"></span>

                <!-- Uploaded files  -->
                <div class="mt-2 uploaded-files">
                    <ul class="list-unstyled d-flex flex-wrap gap-4 gap-md-4 justify-content-md-start"
                        id="file-list">
                    </ul>
                </div>
                <!-- Uploaded Files Fin -->
            </div>

            <div class="form-group">
                <label for="" class="form-label">Mission Documents</label>
                <input type="file" asp-for="Documents" class="form-control" accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" multiple id="doc-upload" onchange="handleDocumentFiles(this.files)">
                <!-- Uploaded files  -->
                <div class="mt-2 uploaded-files">
                    <ul class="list-unstyled d-flex flex-wrap gap-4 gap-md-2 justify-content-md-start"
                        id="doc-list">
                    </ul>
                </div>
                <!-- Uploaded Files Fin -->
            </div>
            
            <div class="row g-3">
                <div class="col-md-6">
                    <label asp-for="Availability" class="form-label"></label>
                    <select class="form-select" asp-for="Availability" asp-items="Html.GetEnumSelectList<MissionAvailability>()">
                        <option value="" disabled selected>Select Availability</option>
                    </select>
                    <span asp-validation-for="Availability" class="font-xs text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="IsActive" class="form-label"></label>
                    <select class="form-select" asp-for="IsActive">
                        <option value="" selected disabled>Select Status</option>
                        <option value="true">Active</option>
                        <option value="false">In-Active</option>
                    </select>
                    <span asp-validation-for="IsActive" class="font-xs text-danger"></span>
                </div>
            </div>
            
            <div class="d-flex justify-content-center justify-content-md-end gap-2">
                <button class="btn-g-gray" type="button" id="btn-cancel">Cancel</button>
                <button class="btn-g-orange" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial"/>