@*For Already sent reset password link*@
@if (TempData["multiRequestError"] != null)
{
    <div class="alert alert-danger font-15">
        @TempData["multiRequestError"]
    </div>
}

@*Token is sent to email notification*@
@if (TempData["TokenMessage"] != null)
{
    <div class="alert alert-success font-15">
        @TempData["TokenMessage"]
    </div>
}

@*If Token is not found*@
@if (TempData["TokenNotFound"] != null)
{
    <div class="alert alert-danger font-15">
        @Html.Raw(TempData["TokenNotFound"])
    </div>
}

@if (TempData["EmailNotExists"] != null)
{
    <div class="alert alert-danger font-15">
        @TempData["EmailNotExists"]
    </div>
}

@if (TempData["account-activate"] != null)
{
    <div class="alert alert-success font-15">
        @TempData["account-activate"]
    </div>
}

@if (TempData["email-verification"] != null)
{
    <div class="alert alert-success font-15">
        @TempData["email-verification"]
    </div>
}
@*Successfully Login*@
@*@if( TempData["login-success"] != null)
{
    <input type="hidden" value="@TempData["login-success"]" id = "successful-login"/>
}
*@