@{
    var UserName = Context.Session.GetString("UserName");
    var profileImage = Context.Session.GetString("UserAvatar");

    var userId = 0L;
    if (Context.Session.GetString("UserId") != null)
    {
        userId = Convert.ToInt64(Context.Session.GetString("UserId")!);
    }
    var userLoginPageLink = Url.Action("Login", "User");

    var loggedUserEmail = "";
    if (Context.Session.GetString("UserEmail") != null)
    {
        loggedUserEmail = Context.Session.GetString("UserEmail");
    }
    var loginSucess = TempData["login-success"];
    TempData.Clear();
}
@Html.HiddenFor(model => userId, new{ id = "logged-user-id" })
@Html.HiddenFor(model => userLoginPageLink, new { id = "user-login-page-link" })
@Html.HiddenFor(model=> UserName, new { id = "loggedUserName" })
@Html.HiddenFor(model => loggedUserEmail, new { id = "loggedUserEmail" })
@Html.HiddenFor(model => loginSucess, new { id = "successful-login" })
<nav class="container navbar navbar-expand-md navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/assets/logo.png" alt="CI" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-black-1">
                <li class="nav-item dropdown position-relative d-none" id="exploreByMenu">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Explore
                        <img src="~/assets/drop-down.png" class="ms-2" alt="drop-down">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdown" id="explore-menu">
                        <li class="dropdown-item" data-explore="1">Top Themes</li>
                        <li class="dropdown-item" data-explore="2">Most Ranked</li>
                        <li class="dropdown-item" data-explore="3">Top Favourite</li>
                        <li class="dropdown-item" data-explore="4">Random</li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Volunteer" asp-controller="Story" asp-action="Index">Stories</a>
                </li>
                <li class="nav-item dropdown" id="cms-drop">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        CMS Pages
                        <img src="~/assets/drop-down.png" class="ms-2" alt="drop-down">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    </ul>
                </li>
            </ul>
            <div class="d-flex align-items-center gap-4">
                @if (UserName != null)
                {
                    <div class="notification-container position-relative">
                        <div class="notification position-relative">
                            <img src="~/assets/bell.png" alt="Notifications" />
                            <span class="notification-badge"></span>
                        </div>
                        <!-- Notification Body Start  -->

                        <div class="notification-body-container position-absolute">
                        </div>
                        <!-- Notification body end -->
                   </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle medium-text " href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                            <img src="@profileImage" alt="Profile Image" class="nav-profile-picture object-fit-cover" id="nav-profile-img">
                            <span>@UserName</span>
                            <img src="~/assets/drop-down.png" class="ms-2" alt="Options">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="Volunteer" asp-controller="User" asp-action="Index" asp-route-id="@userId">Profile</a></li>
                            <li><a class="dropdown-item" asp-controller="User" asp-action="VolunteerTimesheet" asp-route-id="@userId">Volunteering Timesheet</a></li>
                            <li><a class="dropdown-item" id="user-logout">Logout</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="d-flex gap-2">
                        <a class="btn-g-orange" asp-controller="User" asp-action="Login">
                            Login
                        </a>

                        <a class="btn-g-orange" asp-controller="User" asp-action="Registration">
                            Register
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</nav>