@{
    var UserName = Context.Session.GetString("UserName");
    var profileImage = Context.Session.GetString("UserAvatar");

    var userId = 0L;
    if (Context.Session.GetString("UserId") != null)
    {
        userId = Convert.ToInt64(Context.Session.GetString("UserId")!);
    }
    var userLoginPageLink = Url.Action("Login", "User");

    var loggedUserEmail = "";
    if (Context.Session.GetString("UserEmail") != null)
    {
        loggedUserEmail = Context.Session.GetString("UserEmail");
    }
    var loginSucess = TempData["login-success"];
}
@Html.HiddenFor(model => userId, new{ id = "logged-user-id" })
@Html.HiddenFor(model => userLoginPageLink, new { id = "user-login-page-link" })
@Html.HiddenFor(model=> UserName, new { id = "loggedUserName" })
@Html.HiddenFor(model => loggedUserEmail, new { id = "loggedUserEmail" })
@Html.HiddenFor(model => loginSucess, new { id = "successful-login" })
<nav class="navbar-home container d-flex gap-2 gap-md-5 navbar-light">
    <a asp-action ="Index" asp-controller="Home"><img src="~/assets/logo.png" alt="Logo" /></a>
    <div class="d-flex gap-2 gap-sm-5 align-items-center">
        <a class="medium-text cursor-pointer" asp-controller ="Story" asp-action="Index">Stories</a>
        <div class="dropdown">
            <a class="dropdown-toggle medium-text d-none d-sm-block" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
                Policy
                <img src="~/assets/drop-down.png" class="ms-2" alt="Options">
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
    <div class="d-flex align-items-center gap-2 ms-auto">
        @if (UserName != null)
        {
            <div class="dropdown">
                <a class="dropdown-toggle medium-text " href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
                    <img src="@profileImage" alt="Profile Image" class="nav-profile-picture">
                    <span class="d-none d-sm-inline">@UserName</span>
                    <img src="~/assets/drop-down.png" class="ms-2" alt="Options">
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-area = "Volunteer" asp-controller="User" asp-action="Index" asp-route-id="@userId">Profile</a></li>
                    <li><a class="dropdown-item" asp-controller="User" asp-action="VolunteerTimesheet" asp-route-id="@userId">Volunteering Timesheet</a></li>
                    <li><a class="dropdown-item" id="user-logout">Logout</a></li>
                </ul>
            </div>
        }else
        {
            <a class="btn-g-orange" asp-controller="User" asp-action="Login">
               Login
            </a>

            <a class="btn-g-orange" asp-controller="User" asp-action="Registration">
                Register
            </a>
        }
    </div>
</nav>
<partial name ="_FormMessage"></partial>
   