@model MissionLandingVM
@{
    var userId = 0L;
    if (Context.Session.GetString("UserId") != null)
        userId = Convert.ToInt64(Context.Session.GetString("UserId"));
}
<!-- Search Section Begin -->
<input type = "hidden" value="@userId" id = "logged-user-id"/>
<section class="border border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap flex-column flex-sm-row justify-content-between bg-transparent filter-section gap-4 gap-xl-0">
            <div class="d-flex align-items-center justify-content-between border-bottom flex-grow-1">
                <img src="~/assets/search.png" alt="Search" class="icon-search">
                <input type="text" class="search-input ms-2 me-auto form-control"
                       placeholder="Search Mission..." id="search-mission">
                <button class="cursor-pointer bg-transparent border-0 " data-bs-toggle="collapse"
                        data-bs-target="#collapseFilterMenu" aria-expanded="false"
                        aria-controls="collapseFilterMenu">
                    <img src="~/assets/filter.png" alt="Filter" class="d-block d-sm-none ">
                </button>
                <div class="spinner-border opacity-0 spinner-control" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="d-flex flex-column flex-sm-row flex-wrap border collapse gap-2 gap-md-4 gap-xl-0"
                 id="collapseFilterMenu">
                <div class="dropdown text-center">

                    <button class="d-flex w-100 bg-transparent justify-content-around align-items-center gap-5 p-3 dropdown dropdown-toggle px-4 border custom-text-black text-light-custom"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Country
                        <img src="~/assets/drop-down.png" alt="Options">
                    </button>
                    <ul class="dropdown-menu" id="country-filter">
                        @foreach(var country in Model.countryList)
                        {
                            <li class="dropdown-item" data-id="@country.CountryId">@country.Name</li>
                        }
                    </ul>
                </div>
                <div class="dropdown text-center ">
                    <button class="d-flex w-100 bg-transparent p-3 px-4 justify-content-around align-items-center gap-5 p-2 dropdown dropdown-toggle custom-text-black text-light-custom border border-1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        City
                        <img src="~/assets/drop-down.png" alt="Options">
                    </button>
                    <ul class="dropdown-menu" id="city-filter">
                        @foreach (var city in Model.cityList)
                        {
                            <li class="dropdown-item" data-id = "@city.CityId" data-pid = "@city.CountryId">
                                @city.Name
                            </li>
                        }
                    </ul>
                </div>
                <div class="dropdown text-center ">
                    <button class="d-flex w-100 bg-transparent justify-content-around align-items-center gap-5 dropdown dropdown-toggle border p-3 px-4 custom-text-black text-light-custom"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Theme
                        <img src="~/assets/drop-down.png" alt="Options">
                    </button>
                    <ul class="dropdown-menu" id="theme-filter">
                        @foreach (var theme in Model.themeList)
                        {
                            <li class="dropdown-item" data-id="@theme.ThemeId">@theme.Title</li>
                        }
                    </ul>
                </div>
                <div class="dropdown text-center">
                    <button class="w-100 d-flex bg-transparent justify-content-around align-items-center gap-5 p-3 px-4 dropdown dropdown-toggle border custom-text-black text-light-custom"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Skills
                        <img src="~/assets/drop-down.png" alt="Options">
                    </button>
                    <ul class="dropdown-menu" id="skill-filter">
                        @foreach (var skill in Model.skillList!)
                        {
                            <li class="dropdown-item" data-id="@skill.SkillId">@skill.Name</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Search Section End -->
<!-- Filter List Begin -->
<section class="mt-3 container d-flex align-items-start gap-4 d-none" id = "filter-option-area">
    <ul class="d-flex flex-wrap gap-2 p-0" id="selected-filter-list">
    </ul>
    <button id="clear-all-filter" class="small-light-text">
        Clear All
    </button>
</section>
<!-- Filter List End -->
<!-- Mission View Listing Begin -->
<section class="mt-2 container">
    
        <div class="d-flex justify-content-between align-items-center" id="has-mission">
            <div class="font-lg-size text-light-custom">
                Explore <span class="font-xl-size" id="number-of-mission"></span> Missions
            </div>
            <div class="d-flex align-items-center gap-4">

                <select id="sort-options" class="fw-light font-15 cursor-pointer">
                    <option class="dropdown-item" selected disabled>Sort By</option>
                    <option class="dropdown-item" value="1">Newest</option>
                    <option class="dropdown-item" value="2">Oldest</option>
                    <option class="dropdown-item" value="3">Lowest Available Seats</option>
                    <option class="dropdown-item" value="4">Highest Available Seats</option>
                    @if (userId != 0L)
                    {
                        <option class="dropdown-item" value="5">My Favourites</option>
                    }
                    <option class="dropdown-item" value="6">Registration Deadline</option>
                    <option class="dropdown-item" value="7">Reset</option>
                </select>
                <button class="border-0 btn-view d-none d-md-block" id="grid-view">
                    <img src="~/assets/grid.png"
                     alt="Grid View">
                </button>
                <button class="border-0 btn-view d-none d-md-block" id="list-view">
                    <img src="~/assets/list.png"
                     alt="List View">
                </button>
            </div>
        </div>
    
        <!-- No Mission Found Begin -->
        <section class="border py-4 mt-4 container text-center font-lg-size text-light-custom fw-400 d-none" id="no-mission">
            No Mission Found
            <button class="btn-g-orange font-15 mx-auto d-none">
                Submit New Mission!
            </button>
        </section>
        <!-- No Mission Found End -->
    
</section>
<!-- Mission View Listing End -->
