@model IEnumerable<BannerVM>

<div class="bg-hero-login min-vh-100">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
            
            @{
                var index = 0;
            }
            @foreach (var banner in Model)
            {
                <button type="button" 
                        data-bs-target="#carouselExampleCaptions"
                        data-bs-slide-to="@index"
                        class="@((index == 0) ? "active" : "")"
                        aria-current="@((index == 0) ? "true" : "")"
                        aria-label="Slide @(index+1)">
                </button>
                index++;
            }

            
        </div>
        <div class="carousel-inner">
            
            @{
                var i = 0;
            }
            @foreach (var banner in Model)
            {
                <div class="carousel-item @( (i==0) ? "active": "" )">
                    <img src="@banner.Path" class="object-fit-cover min-vh-100" alt="hero-image@(i+1)">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="hero-title">@banner.Title</h5>
                        <p class="hero-text">@banner.Text</p>
                    </div>
                </div>
                i++;
            }
            
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
