@model IEnumerable<VolunteerTimesheetVM>
<div class="d-flex align-items-center justify-content-between">
    <p class="mb-0 text-black-1">Volunteering Goals</p>
    <button class="btn-g-orange gap-1 px-2 py-0 pe-3" id="btnAddVolunteerGoal">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#f88634" class="bi bi-plus"
             viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
        Add
    </button>
</div>
@if (Model.Any())
{
    <div class="table-responsive mt-3">
    
        <table class="table table-borderless">
            <thead>
            <tr>
                <th>Mission</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var entry in Model)
            {
                <tr>
                    <td>@entry.MissionTitle</td>
                    <td>@entry.Date.ToString("d")</td>
                    <td>@entry.Action</td>
                    <td class="d-flex gap-4 vl-timesheet-action">
                        @if (entry.Status == ApprovalStatus.PENDING)
                        {
                            <img src="~/assets/editing.png" data-type="goal" data-timesheetid="@entry.TimesheetId" class="edit-goal-entry" alt="Edit">
                            <img src="~/assets/delete.png" data-type="goal" data-timesheetid="@entry.TimesheetId"  class="delete-goal-entry" alt="Delete">
                        }
                        else if (entry.Status == ApprovalStatus.APPROVED)
                        {
                            <img src="~/images/static/check-mark1.png" alt="Approved"/>
                        }
                        else
                        {
                            <img src="~/assets/red-close.png" alert="Declined"/>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    
    </div>
}
else
{
    <p class="text-info-message p-2 mx-content my-auto mx-auto mb-0">There are no contribution at the moment.</p>
}