@model MissionCardVM
@{
    var userId = 0L;
    if (Context.Session.GetString("UserId") != null)
        userId = Convert.ToInt64(Context.Session.GetString("UserId"));
    var isFavourite = userId != 0L && Model.FavrouriteMissionsId!.Contains(userId);
    var addFavouriteLink = Url.Action("AddMissionToFavourite", "User");
    var loggedUserAppliedForMission = false;
    if( userId != 0L)
    {
        loggedUserAppliedForMission = Model.ApplicationListId.Any( id => id == userId );
    }

    var loggedUserRating = (byte)0;
    if(Model.MissionRating.Any(missionRating => missionRating.UserId == userId) )
    {
        loggedUserRating = (byte)Model?.MissionRating.FirstOrDefault( missionRating => missionRating.UserId == userId )?.Rating;
    }

    var themeId = Model.ThemeId;

    var isCommentExists = false;
    if ( userId != 0L && (bool)Model.CommentList?.Any(id => id == userId)!)
    {
        isCommentExists = true;
    }

    var totalVolunteers = ViewBag.TotalVolunteers;
    var volunteerCount = Model.RecentVolunteers.LongCount();

    var mediaCount = Model.MissionMedias?.LongCount();
}
<header>  
<partial name="_Navbar"></partial>
<hr class="m-0" />
</header>
<main>
    <div id="recommend-msn-modal">
    </div>
    <input type ="hidden" value="@Model.MissionId" id="msn-details-id"/>
    <input type = "hidden" value="@userId" id = "logged-user-id" />
    <input type = "hidden" value='@Url.Action("Login", "User")' id = "login-page-link"/>
    <input type = "hidden" value="@addFavouriteLink" id = "add-fav-link" />
    @Html.HiddenFor(model => isFavourite, new { id = "is-favourite" })
    @Html.HiddenFor(model => loggedUserAppliedForMission, new { id = "isLoggedUserVolunteer" })
    @Html.HiddenFor(model => loggedUserRating, new { id="logged-user-rating" })
    @Html.HiddenFor(model => themeId, new { id="theme-id" })
    @Html.HiddenFor( model => isCommentExists, new { id="isCommentExists" } )
    @Html.HiddenFor(model => totalVolunteers, new { id = "total-volunteer-count" })
    @Html.HiddenFor( model => mediaCount, new { id="msn-media-count" })
    <!-- Mission Front Section Begin -->
    <section class="container d-flex flex-column flex-lg-row">
        <div class="d-flex flex-column gap-2 flex-basis">
            <img src="@Model.ThumbnailUrl" alt="Mission Thumbnail" id="mission-hero-img" class="h-70">
            
            <div class="position-relative" id="msn-media-carousel">
                <div class="overflow-auto d-flex gap-1 w-100 slider">
                    <div class="cursor-pointer position-absolute py-5 px-1 opacity-5" id="scroll-prev">
                        <img src="~/assets/left1.png" alt="Previous">
                    </div>
                    
                    @foreach(var media in Model.MissionMedias!)
                    {
                        <img src="@media" alt="Mission Image" class="msn-img-sm">
                    }

                    <div class="cursor-pointer position-absolute right-0 py-5 px-1 opacity-5" id="scroll-next">
                        <img src="~/assets/right-arrow2.png" alt="Next">
                    </div>
                </div>
            </div>
            
        </div>
        <div class="d-flex flex-column gap-4 gap-lg-3 p-2 p-lg-4 my-auto flex-basis">
            <div class="">
                <h1 class="font-xxl text-light-custom">
                    @Model.Title
                </h1>
                <p class="text-light-custom">
                    @Model.ShortDescription
                </p>
                @if ( Model.Status == MissionStatus.ONGOING )
                {
                <div class="p-2 border-top border-bottom mt-4 text-center">
                        @if (Model.MissionType == MissionTypeEnum.TIME)
                        {
                            <div class="registration-date position-relative px-2 align-text-top text-light-custom p-2 mb-n1 mx-content mx-auto">
                                @if (Model.StartDate != null && Model.EndDate != null)
                                {
                                    <p class="mb-0">From @Model.StartDate?.ToString("d") until @Model.EndDate?.ToString("d") </p>
                                }
                                else
                                {
                                    <p class="mb-0">Ongoing opportunity</p>
                                }
                            </div>
                            <div class="d-flex justify-content-around align-items-center">
                                <div class="d-flex align-items-center gap-2">

                                    @if (Model.TotalSeat != null && Model.TotalSeat.Value != 0)
                                    {
                                        <img src="~/assets/Seats-left.png" alt="Seats Left">
                                        <div class="text-start">
                                            <p class="p-0 m-0 font-md">@Model.SeatLeft</p>
                                            <p class="p-0 m-0 text-light-custom font-xs">Seats Left</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <img src="~/assets/Already-volunteered.png" alt="Already volunteered">
                                        <div class="text-start">
                                            <p class="p-0 m-0 font-md">@Model.NumberOfVolunteer</p>
                                            <p class="p-0 m-0 text-light-custom font-xs">Already Registered</p>
                                        </div>
                                    }
                                </div>
                                @if (@Model.RegistrationDeadline != null)
                                {
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="~/assets/deadline.png" alt="Deadline">
                                        <div class="text-start">
                                            <p class="p-0 m-0 font-md">
                                                @Model.RegistrationDeadline?.ToString("d")
                                            </p>
                                            <p class="p-0 m-0 font-xs text-brown">Deadline</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="registration-date position-relative px-2 align-text-top text-light-custom p-2 mb-n1 mx-content mx-auto">
                                @Model.GoalText
                            </div>
                            <div class="d-flex align-items-center justify-content-around">
                                @if (@Model.TotalSeat != null || @Model.TotalSeat != 0)
                                {
                                    <div class="d-flex gap-2 align-items-center flex-shrink-0">
                                        <img src="~/assets/Seats-left.png" alt="Seats Left">
                                        <div class="text-start">
                                            <p class="p-0 m-0 font-md">@Model.SeatLeft</p>
                                            <p class="p-0 m-0 text-light-custom font-xs">Seats Left</p>
                                        </div>
                                    </div>
                                }
                                <div class="d-flex align-items-center gap-2 p-2">
                                    @{
                                        var progressWidth = (Model.GoalAchieved / (double)Model.GoalValue) * 100;
                                    }
                                    <img src="~/assets/achieved.png" alt="Achievement Progress">
                                    <div class="text-start">
                                        <div class="progress msn-detail-progress">
                                            <div class="progress-bar bg-orange" role="progressbar" aria-valuenow='@Model.GoalAchieved'
                                         style="width: @progressWidth.ToString()%"
                                         aria-valuemin="0" aria-valuemax="@Model.GoalValue"></div>
                                        </div>
                                        <p class="p-0 m-0 text-light-custom font-xs">@Model.GoalAchieved achieved</p>
                                    </div>
                                </div>
                            </div>
                        }
                </div>
                }
            </div>
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-center
                    justify-content-md-between gap-2">
                <button class="flex-basis btn-favourite p-2 d-flex align-items-center justify-content-center text-brown gap-3 cursor-pointer font-xs" id="btn-add-to-favourite">
                    <img src="~/assets/heart1.png" alt="Favourite">
                    Add to Favourite
                </button>
                
                <button 
                    class="flex-basis btn-share p-2 d-flex align-items-center justify-content-center text-brown gap-3 cursor-pointer font-xs"
                        data-bs-target="#recommendModal"
                    id ="msn-recommend">
                    <img src="~/assets/add1.png" alt="Recommend">
                    Recommend to a Co-Worker
                </button>
                
            </div>
            <!-- Star Rating Begin -->
            <div class="border-top mt-2 w-100 text-center">
                <div class="translate-middle-y bg-white mx-content mx-auto star-rating">
                    @if( loggedUserRating != 0 )
                    {
                        for(int i = 1; i <= 5; i++)
                        {
                            if( i <= loggedUserRating )
                            {
                                <img src="~/assets/selected-star.png" alt="Selected Star" class="cursor-pointer" data-star="@i">
                            }
                            else
                            {
                                <img src="~/assets/star-empty.png" alt="Empty Star" class="cursor-pointer" data-star="@i">
                            }
                        }
                    }
                    else {
                        @for(int i = 1; i <= 5; i++)
                        {
                            <img src="~/assets/star-empty.png" alt="Empty Star" class="cursor-pointer" data-star="@i">
                        }
                    }
                </div>
            </div>
            <!-- Star Rating End -->
            <!-- Mission Information Begin  -->
            <div class="d-flex flex-column flex-md-row flex-wrap align-items-center gap-2 mt-n1" id="msn-box">
                <div class="d-flex flex-column text-start msn-box-info gap-4 p-2 justify-content-between">
                    <img src="~/assets/pin1.png" alt="Location" class="msn-box-img">
                    <div>
                        <p class="m-0 text-light-custom font-xs">City</p>
                        <p class="m-0">@Model.CityName</p>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-between text-start gap-4 msn-box-info p-2">
                    <img src="~/assets/web.png" alt="Theme" class="msn-box-img">
                    <div>
                        <p class="m-0 text-light-custom font-xs">Theme</p>
                        <p class="m-0">@Model.ThemeName</p>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-between text-start gap-4 gap-md-2 msn-box-info p-2">
                    <img src="~/assets/calender.png" alt="Date" class="msn-box-img">
                    <div>
                        <p class="m-0 text-light-custom font-xs">Date</p>
                        @if (Model.StartDate != null && Model.EndDate != null && Model.StartDate < DateTimeOffset.Now)
                        {
                            <p class="m-0">@Model.StartDate?.ToString("d") to @Model.EndDate?.ToString("d")</p>
                        }
                        else
                        {
                            <p class="m-0">Ongoing Opportunity</p>
                        }
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-between text-start msn-box-info p-2 gap-4 justify-content-between">
                    <img src="~/assets/organization.png" alt="Organization" class="msn-box-img">
                    <div>
                        <p class="m-0 text-light-custom font-xs">Organization</p>
                        <p class="m-0">@Model.OrganizationName</p>
                    </div>
                </div>
            </div>
            <!-- Mission Information End  -->
            @if (userId != 0 && Model.ApplicationListId.Any(application => application == userId))
            {
                <button class="btn bg-orange px-4 py-2 my-2 my-md-3 mx-auto rounded-pill cursor-pointer">
                    View Timesheet
                </button>
            }
            else if( Model.Status == MissionStatus.FINISHED )
            {
                <p class="my-2 my-md-3 mx-auto bg-danger px-4 py-2 rounded-pill">
                    Mission Closed
                </p>   
            }
            else
            {
                <button class="my-2 my-md-3 mx-auto btn-g-orange">
                    Apply Now
                    <img src="~/assets/right-arrow.png" alt="Right Arrow">
                </button>
            }
        </div>
    </section>
    <!-- Mission Front Section End  -->

    <!-- Mission Details Section Begin -->
    <section class = "container mt-4 pb-3 pb-md-5">   
            
                <div class="row">
                    <!-- Tab section begin -->
                    <div class = "col-12 col-lg-7">
                        <div class = "border-bottom d-flex gap-2 tabs">
                            <div class = "cursor-pointer p-3 active" id = "tab-msn">Mission</div>
                            <div class = "cursor-pointer p-3" id = "tab-org">Organization</div>
                            <div class = "cursor-pointer p-3" id = "tab-comments">Comments</div>
                        </div>
                
                        <!-- Mission Tab Content -->
                        <div class = "tab-content overflow-auto mt-4 " id = "tab-msn-content">
                            <h3 class = "font-lg-size">
                                Introduction
                            </h3>
                            <p class = "font-15 text-light-custom">
                                @Model.ShortDescription
                            </p>
                            <h3 class = "font-lg-size">
                                Challenge
                            </h3>
                            <p class = "font-15 text-light-custom">
                                @Model.Description
                            </p>
                            <h3 class = "font-lg-size">
                                Documents
                            </h3>
                            <div class = "d-flex gap-3 py-3 flex-wrap">
                            @if ( Model.MissionDocuments.LongCount() > 0 )
                            {
                                @foreach (var document in Model.MissionDocuments) 
                                {   
                                    <a href="@document.DocumentPath" target="_blank">
                                        <button class = "cursor-pointer font-15 px-4 py-2 d-flex align-items-center gap-2 doc-file">
                                        @document.Title
                                        </button>
                                    </a>
                                }
                            }
                            else
                            {
                                <p class="text-info-message p-2 mx-content mx-auto mb-0">No attached document for this mission!</p>
                            }
                    </div>
                        </div>
                        <!-- Mission Tab Content Fin -->
                    
                        <!-- Organization Tab Content -->
                        <div class = "tab-content overflow-auto mt-4 text-light-custom font-15 d-none" id = "tab-org-content">
                            @Model.OrganizationDetails
                        </div>
                        <!-- Organization Tab Content Fin -->
                    
                        <!-- Comment Tab Content -->
                        <div class="tab-content overflow-auto mt-4 d-none p-1" id = "tab-comments-content">
                            <textarea class="form-control font-xs" id="comment-text" rows="4" placeholder="Enter your comments"></textarea>
                            <span class="font-15 text-danger d-none" id="err-comment"></span>
                            <button class="my-2 mx-auto btn-g-orange" type="submit" id="btn-comment-post">
                                    Post Comment
                            </button>
                            <div class="bg-light mt-4 container d-flex flex-column gap-4 comment-box py-4" id="msn-comment">
                            </div>
                        </div>
                        <!-- Comment Tab Content Fin -->
                    </div>
                    <!-- Tab section end -->

                    <!-- Infomration and recent volunteers begin -->
                    <div class = "col-12 col-lg-5">
                        <!-- Information Box  -->
                        <div class = "border font-15 p-4 pb-2 mt-4 mt-lg-0">
                            <div class = "border-bottom mb-2">
                                <div class = "border-bottom-1 font-22 
                                mx-content pe-3 pb-3">
                                    Infomration
                                </div>
                            </div>
                            <div class = "row border-bottom pt-2 text-light-custom g-4">
                                <p class = "col-2">Skills</p>
                                <ul class = "col comma-list d-inline list-unstyled">
                                   @foreach(var skill in Model.Skills)
                                   {
                                       <li>@skill</li>
                                   }
                                </ul>
                            </div>
                            <div class = "row border-bottom pt-2 text-light-custom g-4">
                                <p class = "col-2">Days</p>
                                @if( Model.MissionAvailability != null )
                                {
                                    @if(Model.MissionAvailability == MissionAvailability.DAILY)
                                    {
                                        <p class="col">Daily</p>
                                    }
                                    else if(Model.MissionAvailability == MissionAvailability.WEEK_END)
                                    {
                                        <p class="col">Weekend</p>
                                    }
                                    else if(Model.MissionAvailability == MissionAvailability.WEEKLY) 
                                    {
                                        <p class="col">Weekly</p>
                                    }
                                    else
                                    {
                                        <p class="col">Monthly</p>
                                    }
                                }
                                else
                                {
                                    <p class="col">Not Specified</p>
                                }
                            </div>
                            <div class = "row pt-2 text-light-custom" id="star-rating-box">
                                
                            </div>
                        </div>
                        <!-- Infomration Box Fin -->

                        <!-- Recent Volunteers -->
                        <div class = "border mt-4 font-15 p-4 pb-0" id="msn-recent-volunteers">
                    <div class="border-bottom mb-2">
                        <div class="border-bottom-1 font-22 mx-content pe-3 pb-3">
                            Recent Volunteers
                        </div>
                    </div>
                    <div class="d-flex flex-wrap small-light-text p-2 justify-content-around gap-5 gap-lg-5 " id="vl-list">
                        @{
                            var vlNumber = 0;
                        }
                        @foreach (var volunteer in Model.RecentVolunteers)
                        {
                            <div class="text-center" data-vlNumber = "@vlNumber">
                                <img src="@volunteer.Avatar" alt="Volunteer Image" class="volunteer-img rounded-pill">
                                <span class="d-block">@volunteer.UserName?.Trim()</span>
                            </div>
                            vlNumber++;
                        }
                    </div>

                    <!-- Recent volunteer pagination -->
                    <div class="position-relative d-flex bottom-0 ms-n4 border-top me-n4" id="vl-pagination">
                        <button class="cursor-pointer p-2 p-lg-4 d-flex align-items-center bg-transparent border" id="btn-vl-prev">
                            <img src="~/assets/left.png" alt="Previous">
                        </button>
                        <div class="my-auto mx-auto text-light-custom text-black-1 font-xs" id="recent-volunteers-count">
                        </div>
                        <button class="cursor-pointer p-2 p-lg-4 d-flex align-items-center bg-transparent border" id="btn-vl-next">
                            <img src="~/assets/right-arrow1.png" alt="Previous">
                        </button>
                    </div>
                    <!-- Recent Volunteer Pagination -->

                    <p class="text-info-message p-2 mx-content mx-auto d-none my-4" id="no-recent-vl">There are no volunteers at the moment</p>

                        </div>

                        <!-- Recent Volunteers Fin -->
                
                    </div>
                    <!-- Information and recent volunteers end -->
                </div>
        
            </section>
    <!-- Mission Details Section End  -->
    <hr>


    @*Related Mission Section*@
    <section class = "container mb-4" id="related-missions-section">

    </section>

    <partial name="_Footer"></partial>
</main>
@section Scripts 
{
    <script src="~/js/mission-page-carousel-tab.js"></script>
    <script src="~/js/mission-details-ajax.js"></script>
    <script src="~/js/site.js"></script>
}